@use '../../styles/button/button.scss';

.cart {
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      border-bottom: 1px solid #ddd;
    }

    &__action {
      @extend .button;
    }

    &__image {
      display: flex;
      align-items: center;

      @media (max-width: 500px) {
        display: none;
      }
    }

    &__info {
      margin: 24px 0 24px 24px;
    }

    &__quantity {
      margin-top: 12px;
      &-button {
        cursor: pointer;
      }

      &-controls {
        display: flex;
        align-items: center;
        gap: 12px;
      }
    }

    &__title {
      font-size: 20px;
      font-weight: 700;
      color: #b35b00;
      margin-bottom: 16px;
    }
  }

  &-total-amount {
    font-size: 20px;
    margin-top: 24px;
    color: #b35b00;
    font-weight: 700;
  }
}
