@use '../../styles/button/button.scss';

.page {
  background-color: #fdfef0;
  padding: 120px;

  &-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    margin-bottom: 32px;
  }

  &-subtitle {
    color: #6c757d;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    margin-bottom: 65px;
  }
}

.product-filter-container {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  gap: 19px;

  &-item {
    flex: 0 1 calc(25% - 20px);
    padding: 35px 42px;
    box-shadow: 0px 8px 26px 0px #0000000d;
    border-radius: 16px;

    &-button {
      @extend .button;
    }

    &-image {
      width: 100%;
    }

    &-title,
    &-price {
      font-size: 20px;
      font-weight: 700;
      color: #b35b00;
      margin-bottom: 7px;
    }

    &-price,
    &-description {
      margin-bottom: 28px;
    }

    &-rating,
    &-popularity {
      display: flex;
      align-items: center;
      gap: 4px;
      margin-bottom: 28px;

      mat-icon {
        color: #ffc80d;
      }
    }

    &-description {
      font-size: 16px;
      line-height: 19.2px;
      color: #6c757d;
    }

    @media (max-width: 1200px) {
      flex: 0 1 calc(33.333% - 20px);
    }

    // Responsive adjustments
    @media (max-width: 800px) {
      // When the screen size is 800px or less
      flex: 0 1 calc(50% - 20px); // Two items per row
    }

    @media (max-width: 500px) {
      // When the screen size is 500px or less
      flex: 0 1 calc(100% - 20px); // One item per row
    }
  }
}
